
.window{
  background-color: antiquewhite;
  
  
}

.header {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  text-align: center;
  background-color: #ACB1E5;
}

.img{
  margin-left: 5px;
  margin-right: 10px;
}

#btn {
  border-radius: 10px;
  
}



.content {
  background-color: antiquewhite;
  height: 960px;
}

.view {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 860px;
  background-color: white;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 1000px;
  background-color: #ACB1E5;
  color: white;
}

