#form{
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  align-content: center;
  text-align: center;
}


#btn{
  align-items: center;
  border-radius: 10px;
  border-left: 10px;
  border-right: 10px;
}

#btn1 {
  background-color: #8C91D3;
  color: white;
}
